parameters:
    ignoreErrors:
        - message: '#^Access\ to\ an\ undefined\ property\ Illuminate\\Contracts\\Auth\\Authenticatable\&Illuminate\\Database\\Eloquent\\Model::\$address\.$#'
          identifier: property.notFound
          count: 1
          path: src/Filament/User/Pages/UserProfile.php
        - message: '#^Access\ to\ an\ undefined\ property\ Illuminate\\Contracts\\Auth\\Authenticatable\&Illuminate\\Database\\Eloquent\\Model::\$id\.$#'
          identifier: property.notFound
          count: 2
          path: src/Filament/User/Pages/UserProfile.php
        - message: '#^Access\ to\ an\ undefined\ property\ Illuminate\\Contracts\\Auth\\Authenticatable\&Illuminate\\Database\\Eloquent\\Model::\$information\.$#'
          identifier: property.notFound
          count: 1
          path: src/Filament/User/Pages/UserProfile.php
        - message: '#^Call\ to\ an\ undefined\ method\ Filament\\Panel::currentPanel\(\)\.$#'
          identifier: method.notFound
          count: 1
          path: src/Providers/IdentityServiceProvider.php
        - message: '#^Call\ to\ an\ undefined\ method\ Illuminate\\Database\\Eloquent\\Model::notify\(\)\.$#'
          identifier: method.notFound
          count: 1
          path: src/Filament/User/Pages/UserProfile.php
        - message: '#^Expression\ on\ left\ side\ of\ \?\?\ is\ not\ nullable\.$#'
          identifier: nullCoalesce.expr
          count: 1
          path: src/Filament/User/Pages/UserProfile.php
        - message: '#^Method\ He4rt\\Identity\\Filament\\User\\Pages\\UserProfile::getRedirectUrl\(\)\ never\ returns\ string\ so\ it\ can\ be\ removed\ from\ the\ return\ type\.$#'
          identifier: return.unusedType
          count: 1
          path: src/Filament/User/Pages/UserProfile.php
        - message: '#^Parameter\ \#1\ \$profileDTO\ of\ method\ He4rt\\Identity\\User\\Actions\\UpdateProfile::handle\(\)\ expects\ He4rt\\Identity\\User\\DTOs\\UpdateProfileDTO,\ string\ given\.$#'
          identifier: argument.type
          count: 1
          path: src/User/Http/Controllers/UsersController.php
        - message: '#^Property\ He4rt\\Identity\\User\\Models\\User::\$username\ \(string\)\ does\ not\ accept\ Illuminate\\Support\\Stringable\.$#'
          identifier: assign.propertyType
          count: 1
          path: src/User/Observers/UserObserver.php
