@import 'tw-animate-css';
@import './support/index.css';

@import './base.css';
@import './components/card.css' layer(components);
@import './components/section.css' layer(components);
@import './components/headline.css' layer(components);
@import './components/button.css' layer(components);
@import './components/avatar.css' layer(components);
@import './components/avatar-stack.css' layer(components);
@import './components/text-input.css' layer(components);
@import './components/tag.css' layer(components);
@import './components/partials/author.css' layer(components);

.fi-topbar {
    @apply bg-background p-4 px-12 shadow-none ring-0;
}

.fi-topbar-start {
    margin-inline-end: unset;
}

.fi-topbar {
    justify-content: space-between;
}

.fi-topbar-end {
    margin-inline-start: unset;
}

.fi-page-content {
    @apply from-primary-purple/12 to-background gap-0 bg-gradient-to-br;
}

.fi-page-header-main-ctn {
    @apply p-0;
}

.fi-main {
    @apply p-0;
}

@variant dark (&:where(.dark, .dark *));
